<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.fox.demo.server.foxdemoserver.demo.mapper.DemoUsersMapper" >
  <resultMap id="BaseResultMap" type="com.sun.fox.demo.server.foxdemoserver.demo.model.DemoUsers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="love" property="love" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getListDemoUSerPage" resultMap="BaseResultMap">
        SELECT
        id,name,love
        FROM
        demo_users
        ORDER  BY  ID DESC
    </select>
</mapper>