<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.fox.uc.server.mapper.UcRoleUserMapper">
    <resultMap id="BaseResultMap" type="com.sun.fox.uc.server.model.UcRoleUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>


    <resultMap id="RoleByUserIdMap" type="com.sun.fox.uc.server.model.UcRoles">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="describe" property="describe" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRoleByUserId" resultMap="RoleByUserIdMap">
        select  ro.id ,ro.role_name,ro.role_code,ro.describe
        FROM uc_role_user ru
        LEFT JOIN uc_roles ro ON ro.id = ru.role_id
        where user_id =#{userId} and ro.active=1
    </select>
</mapper>